{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer Contact</title>
    <meta name="keywords" content="To-Do developer,todo developer">
    <meta name="author" content="Arpit Verma">
	
	<link rel="shortcut icon" href="{% static 'img/clock.jpg' %}" type="image/x-icon">
</head>
<body bgcolor= "cyan">
	<div style="margin-left:30%;margin-top:10%;font-size:3vw">
		<ul style="list-style-type: none">
			<li><a href="mailto:{{email}}"><p title="{{email}}">Mail Me</p></a></li>
			<li><a target="_blank" href="https://varpit.herokuapp.com/">Personal website</a></li>
		</ul>
		Contact- 7985018678
	</div>
</body>
</html>